html, body {
    font-family: "Proxima Nova", sans-serif;
    background-color: blue;
    color: white;
    margin: 0;
    padding: 0;
}

#NavBar {
    background-image: url(./assets/navbar-background.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0vw 4vw 0vw 4vw;
}

#Menu-Icon{
    width: 6vw;
}

.menu-bar {
    width: 7vw;
    height: 1vw;
    border-radius: 20%;
    background-color: white;
    margin-bottom: 4px;
}

#NavBar img {
    width: 25vw;
    margin-top: 4vw;
}

#Search-Icon{
    width: 6vw;
    height: 6vw;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

#Search-Icon::before{
    content: '';
    width: 4.25vw;
    height: 4.25vw;
    border-radius: 50%;
    position: absolute;
    top: .875vw;
    right: .875vw;
    background-color: blue;
}

#Search-Icon::after{
    content: '';
    width: 2.9vw;
    height: 1vw;
    background-color: white;
    position: absolute;
    bottom: -.75vw;
    right: -1vw;
    border-radius: 2px;
    transform: rotate(50deg)
}

.nav-menu{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.Main-Load{
    width: 100%;
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-image: url(https://www.poptarts.com/content/dam/NorthAmerica/poptarts/images/home/hero-slide-lemongroove.jpg);
    background-size: cover;
    background-position: center;
}

button{
    all: unset;
    position: relative
}

#Back-Arrow::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 2em;
    height: .3em;
    border-radius: 15%;
    transform: rotate(-45deg);
    top: -3.5vw;
}

#Back-Arrow::after{
    content: '';
    position: absolute;
    background-color: white;
    width: 2em;
    height: .3em;
    border-radius: 15%;
    transform: rotate(45deg);
    bottom: -3.5vw;
}

#Center-Stage{
    width: 60vw;
}

#Main-Text button{
    background-color: blue;
    padding: 2vw 5.5vw 2vw 5.5vw;
}

#Forward-Arrow::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 2em;
    height: .3em;
    border-radius: 15%;
    transform: rotate(45deg);
    top: -3.5vw;
    right: 0px;
}

#Forward-Arrow::after {
    content: '';
    position: absolute;
    background-color: white;
    width: 2em;
    height: .3em;
    border-radius: 15%;
    transform: rotate(-45deg);
    bottom: -3.5vw;
    right: 0px;
}

#Products-Line {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 5vh 0 5vh 0;
}

#Products-Line h2 {
    color: blue;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%
}

.products button {
    background-color: blue;
    /* replace color w/ img when you have button svg */
    color: white;
    padding: 4vw 8vw 4vw 8vw;
}

footer{
    display: flex;
    justify-content: center;
    background-color: blue;
}

footer img{
    width: 50vw;
    padding: 4vw;
}







#Sticky-Rewards{
    display: flex;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0px;
}

#Sticky-Rewards {
    font-size: 4vw;
}

#Sticky-Rewards img{
    height: 9vw;
}